<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <!-- method =get  -->
    <form action="/get-form-data" method="post">
        <input 
           type="text" 
           placeholder="Enter username"
           name="username1"
        >
        <input 
            type="text" 
            placeholder="Enter email"
            name="email1"
        >
        <input 
            type="password" 
            placeholder="Enter password"
            name="password1"
        >
        <button>Submit</button>
    </form>
    <script src="/assests/index.js"></script>
</body>
</html>